* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ALL */
/* Scroll */
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 0.4px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(103, 102, 102);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 150, 150);
}
/* display */
.d-display {
  display: contents;
}
.d-none {
  display: none;
}
/* Opacity */
.opacity0 {
  z-index: 0;
}
.opacity1 {
  z-index: 1;
}
/* z-index */

/* Akhir Navbar */
header {
  top: 0;
  width: 100vw;
  color: #fff;
  height: 80px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 191, 48);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.836);
  z-index: 2;
}
header .row-left {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  font-size: 20pt;
  margin-right: 250px;
  font-weight: 600;
  text-decoration: none;
}
header .row-left img {
  height: 78px;
  margin-right: 5px;
}
header .row-right {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .row-right a {
  color: #fff;
  padding: 15px 20px;
  font-size: 18pt;
}
header .row-right a:hover {
  background-color: rgb(6, 143, 41);
}
header .row-right a:hover i {
  transform: scale(1.1);
}
/* Navbar */

/* Content */
.content {
  display: flex;
  width: 90%;
  margin: 100px auto;
  justify-content: center;
}
.contentContainer-left {
  width: 22.5%;
}
.contentContainer-left .row-top img {
  width: 100%;
  border-radius: 5px;
}
.contentContainer-left .row-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentContainer-left .row-bottom .active {
  border: 3px solid rgb(3, 215, 56);
  width: 16.5%;
}
.contentContainer-left .row-bottom img {
  width: 14%;
  display: flex;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}
/* mid */
.contentContainer-mid {
  width: 42%;
  margin: 2% 5%;
}
.contentContainer-mid .tittle {
  font-size: 15pt;
  font-weight: 800;
  font-family: 'Nunito Sans', tahoma, sans-serif;
}
.contentContainer-mid .price {
  margin: 5px;
  margin-left: 0;
  font-size: 15pt;
  font-weight: 900;
  font-family: 'Nunito Sans', tahoma, sans-serif;
}
.contentContainer-mid .tab {
  margin: 10px;
  margin-left: 0;
  font-family: 'Open Sans', tahoma, sans-serif;
}
.contentContainer-mid .tab .row {
  border-bottom: 1px solid black;
  padding: 1px;
  display: flex;
}
.activee {
  color: rgb(3, 215, 56) !important;
  border-bottom: 2px solid rgb(3, 215, 56);
}
.contentContainer-mid .tab .row p {
  color: rgb(82, 82, 82);
  padding: 0 10px;
  margin-right: 10px;
  font-weight: 600;
  cursor: pointer;
}
.contentContainer-mid .tab .myslidee {
  margin-top: 10px;
  padding-bottom: 100px;
  background-color: #fff;
}
.contentContainer-right {
  width: 22.5%;
  padding: 10px;
  margin-top: 5px;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.774);
}
label {
  font-size: 10pt;
}
.contentContainer-right form .tittle {
  width: 85%;
  font-size: 12.5pt;
  font-weight: 600;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.datainput {
  display: block;
  margin: 5px 0;
  justify-content: stretch;
}
.datainput input {
  width: 50%;
  vertical-align: middle;
  -moz-appearance: textfield;
  box-sizing: content-box;
  margin: 1px 5px 5px;
  padding: 1px 0;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: text;
  border-bottom: 2px solid rgba(0, 0, 0, 0.541);
}
.datainput input#jumlah {
  width: 50px;
}
.datainput input:focus {
  border-bottom: 2px solid rgb(0, 191, 48);
}
.datainput input::-webkit-inner-spin-button,
.datainput input::-webkit-outer-spin-button,
.datainput input::-webkit-calendar-picker-indicator {
  opacity: 1;
  cursor: pointer;
}
.datainput input:focus::-webkit-calendar-picker-indicator {
  background-color: rgb(0, 191, 48);
  border-radius: 3px;
  padding: 4px;
}
.datainput textarea {
  width: 90%;
  padding: 0 10px 0 2px;
  font-size: 11pt;
  margin-bottom: 5px;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.541);
  text-transform: capitalize;
  outline: none;
  resize: none;
}
.datainput textarea:focus {
  border-bottom: 2px solid rgb(0, 191, 48);
}
form button {
  width: 90%;
  padding: 6px;
  margin-left: 5%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(0, 191, 48);
  transition: 0.02s;
  font-size: 12pt;
}
form button:hover {
  transform: scale(0.99);
  background-color: rgb(46, 243, 95);
}
form button i {
  margin-left: 4px;
}
.total {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total span {
  font-size: 13pt;
  font-weight: 600;
}

.contentContainer-right form .nb {
  font-size: 9pt;
  margin-bottom: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  overflow: hidden;
}
/* Content end */

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: block;
  padding: 10px 30px;
  color: #fff;
  background-color: rgb(2, 177, 46);
  font-family: 'Poppins', sans-serif;
}

.footer-top {
  display: flex;
  align-items: top;
  justify-content: space-around;
}

.footer-top .container1 {
  width: 20%;
  text-align: center;
}

.footer-top .container1 .media {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-evenly;
}

.footer-top .container1 .row {
  background-color: #fff;
  width: 37px;
  height: 35px;
  margin: 4px;
  padding-top: 5px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 2px black;
}

.footer-top .container1 .row i {
  font-size: 16pt;
  transition: 0.5s color;
}

.footer-top .container1 .instagram i {
  color: #e1306c;
}
.footer-top .container1 .instagram:hover {
  background-color: #e1306c;
}
.footer-top .container1 .instagram:hover i {
  color: #fff;
}
.footer-top .container1 .youtube i {
  color: #e81818;
}
.footer-top .container1 .youtube:hover {
  background-color: #e81818;
}
.footer-top .container1 .youtube:hover i {
  color: #fff;
}
.footer-top .container1 .facebook i {
  color: #3b5999;
  margin-top: 2px;
}
.footer-top .container1 .facebook:hover {
  background-color: #3b5999;
}
.footer-top .container1 .facebook:hover i {
  color: #fff;
}
.footer-top .container1 .github i {
  color: #333;
}
.footer-top .container1 .github:hover {
  background-color: #333;
}
.footer-top .container1 .github:hover i {
  color: #fff;
}
.footer-top .container1 .contact i {
  color: rgb(183, 183, 0);
  margin-left: 1.5px;
}
.footer-top .container1 .contact:hover {
  background-color: rgb(183, 183, 0);
}
.footer-top .container1 .contact:hover i {
  color: #fff;
}

.footer-top .container2 {
  width: 30%;
  text-align: center;
}

.footer-top .container2 h4 {
  font-size: 13pt;
  font-weight: 500;
}

.footer-top .container2 p {
  font-size: 9pt;
}

.footer-top .container3 {
  width: 20%;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: rgb(215, 215, 215);
}

footer .fa-copyright {
  font-size: 12pt;
  margin: 0 1px;
}
/* Akhir Footer */

/* Responsive Tablet */
@media screen and (max-width: 770px) {
  /* Header */
  header {
    height: 90px;
    padding: 0 85px;
  }
  header .row-left {
    width: 50%;
    margin-right: 0px;
  }
  header .row-left img {
    width: 70px;
    height: auto;
    margin-right: 10px;
  }
  header .row-left p {
    width: 75%;
  }
  header .row-right {
    width: 20%;
  }
  header .row-right a {
    padding: 10px 15px;
    font-size: 21pt;
  }
  /* Akhir Header */

  /* Contetnt */
  .content {
    display: block;
    padding: 0 85px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .contentContainer-left {
    width: 100%;
  }
  .contentContainer-left .myslider img {
    clip-path: inset(10%.100%);
  }
  .contentContainer-left .row-bottom {
    position: relative;
    margin-top: -60px;
  }
  .contentContainer-left .row-bottom img {
    width: 60px;
  }
  .contentContainer-left .row-bottom .active {
    width: 70px;
  }
  .contentContainer-mid {
    width: 90%;
  }
  .contentContainer-mid .myslidee {
    padding: 0px !important;
  }
  .contentContainer-right {
    width: 50%;
    margin: 20px auto;
  }
  /* Akhir Content */

  /* Footer */
  footer {
    position: relative !important;
  }
  footer h3 {
    font-size: 13pt;
  }
  .footer-top .container1 {
    width: 25%;
  }
  .footer-top .container1 .row {
    overflow: hidden;
    width: 30px;
    height: 30px;
  }
  .footer-top .container1 .row i {
    font-size: 13pt;
  }
  .footer-top .container2 h4 {
    font-size: 12pt;
  }
  .footer-top .container2 h4 {
    font-size: 11pt;
  }
  .footer-top .container3 {
    width: 25%;
  }
}
@media screen and (max-width: 360px) {
  /* Header */
  header {
    height: 60px;
    padding: 0;
  }
  header .row-left {
    margin-right: 30px;
  }
  header .row-left img {
    width: 45px;
    margin-right: 5px;
  }
  header .row-left p {
    font-size: 12pt;
  }
  header .row-right a {
    font-size: 15pt;
    padding: 5px;
  }
  /* Akhir Header */

  /* Content */
  .content {
    width: 100%;
    padding: 0;
    margin: 10px 0;
  }
  .contentContainer-left .myslider img {
    clip-path: inset(5%.100%);
  }
  .contentContainer-left .row-bottom img {
    width: 30px;
  }
  .contentContainer-left .row-bottom .active {
    width: 40px;
  }
  .contentContainer-left .row-bottom {
    margin-top: -20px;
  }
  .contentContainer-mid .tab .myslidee {
    font-size: 11pt;
  }
  .contentContainer-right {
    width: 70%;
    margin: 20px auto;
  }
  /* Akhir Content */

  /* Footer */
  footer {
    padding: 10px 5px;
  }
  footer h3 {
    font-size: 11pt;
  }
  .footer-top .container1 {
    width: 25%;
  }
  .footer-top .container1 .row {
    width: 25px;
    height: 25px;
    margin: 2px auto;
  }
  .footer-top .container1 .row i {
    font-size: 10pt;
    margin-bottom: 50px;
  }
  .footer-top .container2 h4 {
    font-size: 11pt;
  }
  .footer-top .container2 p {
    font-size: 9pt;
  }
  /* Akhir Footer */
}